/* 字体声明 */
@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?em0m06');
    src:  url('fonts/icomoon.eot?em0m06#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?em0m06') format('truetype'),
      url('fonts/icomoon.woff?em0m06') format('woff'),
      url('fonts/icomoon.svg?em0m06#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
*{
    margin: 0;
    padding: 0;
}
.w{
    width: 960px;
    margin:auto;
}
li{
    list-style: none;
}
a{ 
    text-decoration: none;

}
.header{
    height: 30px;
    width: 1417px;
    background-color: #fff;
    margin: 15px auto; 
}
.logo{
    float:left;
    width: 150px;
    height: 30px;
    background-color: #fff;
}
.nav{
    float: left;
    margin-left: 30px;
}
.nav ul li {
    float:left;
}
.nav ul li a{
    display: block;
    height: 30px;
    padding:0 10px;
    line-height: 30px;
    font-size: 16px;
    color:#686f75;  
}
.nav ul li a:hover {
   border-bottom: 2px solid #1e80ff;
}
.search{
    float:left;
    width: 250px;
    height: 30px;
    background-color: white;
    margin-left: 10px ;
    margin-left: 50px;
}
.search input {
    float: left;
    width:200px;
    height:28px ;
    border: 1px solid #c2c8d1;
    border-right: 0;
    color: #c1c5cd;
    font-size: 15px;
    padding-left: 15px;
    border-radius: 5px 0 0 5px;
}
.search button{
    float: left;
    width: 34px;
    height: 30px;
    border: 0;
    background-image: url(images/sousuo.svg);
    background-color: #c1c5cd;
    background-repeat:no-repeat;
    background-position: center ; 
    border-radius: 0 5px 5px 0;
}
.more::after{
    content: '\e900';
    font-family: 'icomoon';
}
.center{
    float:left;
    margin-left:25px;
    width: 105px;
    height: 30px;
    font-size: 16px;
}
.center button{
    width: 105px;
    height: 30px;
    border: 0;
    color: #fff;
    background-color: #1e80ff;
    border-radius: 5px 5px 5px 5px;
}
.huiyuan{
    float: left;
    width: 65px;
    height:30px;
    color:#8A919F;
    background-color: #fff;
    margin-left:25px;
    line-height: 30px;
}
.huiyuan img{
    float: left;
    width: 24px;
    height: 24px;
    margin-top: 3px;
    margin-right:3px;
}
.huiyuan.vip{
    float: left;
    width: 40px;
    height: 30px;
    font-size: 16px;
    line-height: 16px;
}
.register{
    float: left;
    margin-left: 25px;
    width: 90px;
    height: 30px;
    font-size: 16px;
}
.register button{
    float: left;
    width: 90px;
    height: 30px;
    border: 0;
    color: #fff;
    background-color: #1e80ff;
    border-radius: 5px 5px 5px 5px;
}
.player{
    width: 1434px;
    background-color: #232323;
    height: 620px;
}
.content{
    width: 1200px;
    height: 620px;
    background-color:#232323;
    margin: auto;
}
.left{
    float:left;
    width: 900px;
    height: 620px;
}
.notice{
    float: left;
    width: 864px;
    height: 50px;
    padding: 12px 20px 12px 16px;
    background-color: #00000066;
    margin-top: 20px;
}
.video{
    float: left;
    width: 900px;
    height: 506px;
    background-color: #000;
}
.right{
    float:right;
    margin-left: 20px;
    width: 280px;
    height: 580px;
    margin-top: 20px;
    background-color: #00000066;
}
.bottom{
    width: 1434px;
    height: 3000px;
    background-color: #f4f5f5;
}
.live{
    width: 1200px;
    height: 3000px;
    margin: 20px 117px;
    padding: 20px 0 0 24px;
    background-color: #fff;
}
.live .list{
    width: 1176px;
    height: 32px;
    color: #333;
    margin: 0 0 18px;
}
.live.type{
    font-size: 12px;
    color: #333;
    width: 1176px;
    height: 28px;
}
.live .status{
    width: 1176px;
    height: 28px;
    margin: 12px 0 0;
}
.box{
    float: left;
    width: 270px;
    height: 223px;
    color: #909090;
    margin-bottom: 25px;
}
.item{
    margin-right: 25px;
}
